body {
  display: block;
  width: 400px;
  max-height: 900vh;
  border: none;
  border-radius: 20px;
  margin: 80px auto;
  background-image: url("wallpaper2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Handlee", cursive;
  font-family: "Montserrat", sans-serif;
}
section {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  font-weight: 10px;
  color: #424243;
}
footer {
  color: #424243;
}
a {
  color: rgb(68, 64, 64);
}
.align {
  text-align: center;
}
#password {
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  height: 30px;
  width: 200px;
}

#email {
  border: none;
  border-radius: 10px;
  color: black;
  height: 30px;
  width: 200px;
}
button {
  background-color: #4f5051;
  color: #363841;
  margin-top: 20px;
  border: none;
  border-radius: 70px;
  margin-bottom: 20px;
  width: 100px;
  height: 28px;
  transform: all 2ms ease-in-out;
}
button:hover {
  background: rgb(49, 42, 42);
  color: #555151;
  cursor: pointer;
}
